# Welcome to our first programming lecture(s)!

Today's plan: 
- have a look at lists, dictionaries, tuples in Python
- remind ourselves about control structures
- get back into programming!

At the end, I would like you to:
- feel more confident with lists, dictionaries, and tuples
- be able to write code that loops over these structures
- be able to write code that uses these structures in a function

Let's dive right in!

## Lists

Lists are ordered collections of values.  
We can make a list:

In [4]:
myList = [1, 2, 'apple']


print(myList)
myList.append('banana')
print(myList)

myList[0] = 99

print(myList)

[1, 2, 'apple']
[1, 2, 'apple', 'banana']
[99, 2, 'apple', 'banana']

We can add things to lists:

[1, 2, 'apple', 99]

We can access items by index in the list

In [6]:

myList[0]
myList[1]

2

We can check for membership in the list:

In [8]:

'grapefruit' in myList

False

We can check to see if something is a list using the type function:

In [13]:
mySecondList = ['sam', 2,3, 5]
print(type(mySecondList))

# if type(mySecondList) == type([]):
if type(mySecondList) == list:
    print("How lovely, a list!")
else:
    print ("Not even a list :(")
    
if type(mySecondList[0]) == type('boo'):
    print("oth item is a string")
else:
    print('not a string')

for _ in range(99999999999):
    j = 9

<class 'list'>
How lovely, a list!
oth item is a string

KeyboardInterrupt:

Often we want to look at all items in a list in order and do something with them.  We can use a loop!

In [14]:

def add_up(my_list):
    total = 0
    for i in range(len(my_list)):
        total = total + my_list[i]
        
    return total

num_list = [3, 4, 1, 12, 34]
result = add_up(num_list)

print(result)

54

Of course, we can combine this with 'if' control structures:
    
    Given a list of numbers, try to loop over the list, and for each item in the list print "This is a big number" if the number is over 100, and "This is a small number" otherwise.

In [1]:
listNumbers = [1, 30, 123, 50, 3452, 45, 450, 100]

def silly_print(my_list):
    
    for i in range(len(my_list)):
        if my_list[i] > 100:
            print('This is a big number')
        else:
            print("This is a small number")

            
def better_silly_print(my_list):
    for number in my_list:
        if number > 100: 
            print('This is a big number')
        else:
            print("This is a small number")

Python has some built-in ways of *slicing* lists, for when we only want a segment of the list.

For example: we can get the first five elements of the list like this:

In [15]:
listNumbers = [1, 30, 123, 50, 3452, 45, 450, 100]
listNumbers[:5]

[1, 30, 123, 50, 3452]

Or the last two like this:

In [3]:
listNumbers[-2:]

[450, 100]

Or all but the first two like this:

In [4]:
listNumbers[2:]

[123, 50, 3452, 45, 450, 100]

Practice: Let's write a function that takes a list as a parameter, and prints out a list containing the first item only, then the first two, then the first three, etc.

In [19]:
def tieredPrinting(listForPrinting):
    for i in range(1, len(listForPrinting)):
        print(listForPrinting[:i])

tieredPrinting(listNumbers)

[1]
[1, 30]
[1, 30, 123]
[1, 30, 123, 50]
[1, 30, 123, 50, 3452]
[1, 30, 123, 50, 3452, 45]
[1, 30, 123, 50, 3452, 45, 450]

Not quite what I wanted!  How do I get it to not print the empty list?

In [8]:
def improvedTieredPrinting(listForPrinting):
    pass
    #do some stuff

Tuples

Tuples are also ordered, but are *immutable*.  What does that mean?  It means that you cannot change elements in them. Otherwise, they work a lot like lists.

In [20]:
myTuple = ('a', 'b', 'c')
print(myTuple[0])
print(len(myTuple))

myTuple = myTuple + ('z',)
print(myTuple)

a
3
('a', 'b', 'c', 'z')

But on the other hand, if we try to change an element:

In [21]:
myTuple[1] = 'q'

TypeError: 'tuple' object does not support item assignment

I often use tuples as a mechanism to return multiple values, or as a data structure for things that really ought to be grouped together. This is sometimes called 'packing' and 'unpacking'.  For example, say I have a tuple with information about my friend's cat that incldues his name, age, and colour, and that's how I like to store information about cats.  I can store it as a tuple and directly 'unpack' it back out to variables with an assignment:

In [9]:
chairmanInfo = ("The Chairman", 14, 'orange')
print(chairmanInfo)

name, age, colour = chairmanInfo
print(name)
print(age)
print(colour)

('The Chairman', 14, 'orange')
The Chairman
14
orange

This is especially useful when I want to return that information from a function:

In [10]:
def returnsChairmanInfo():
    chairmanInfo = ("The Chairman", 14, 'orange')
    return chairmanInfo

name, age, colour = returnsChairmanInfo()

print(name)
print(age)
print(colour)

The Chairman
14
orange

#Dictionaries

Dictionaries are mappings: they store a key and an associated value, and you typically access them by key.  They are not ordered, and the keys do not have 'positions' in the dictionary (unlike the book version of the dictionary).

Example: Say we have a record of student numbers and names, and we want to be able to get the name given the number:

In [11]:
studentNumsToNames = {}
studentNumsToNames [123433] = 'Pumat Sol'
studentNumsToNames [223453] = 'Brian McMillan'
studentNumsToNames [339593] = 'The Chairman'
studentNumsToNames [532902] = 'Teemu Selanne'
studentNumsToNames [124111] = 'Angus McDonald'
studentNumsToNames [999494] = 'Frances Su'
studentNumsToNames [902223] = 'Merle Highchurch'


print(studentNumsToNames [123433])

print(studentNumsToNames)

studentNumsToNames [124111] = 'Angus MacDonald'
print(studentNumsToNames)

Pumat Sol
{123433: 'Pumat Sol', 223453: 'Brian McMillan', 339593: 'The Chairman', 532902: 'Teemu Selanne', 124111: 'Angus McDonald', 999494: 'Frances Su', 902223: 'Merle Highchurch'}
{123433: 'Pumat Sol', 223453: 'Brian McMillan', 339593: 'The Chairman', 532902: 'Teemu Selanne', 124111: 'Angus MacDonald', 999494: 'Frances Su', 902223: 'Merle Highchurch'}

Maybe we want to store a bunch of different information about our students: name, age, program.  We could store each of these in a separate dictionary, but we could also store it in a *nested* dictionary, in which the student number maps to a dictionary for that student.

In [24]:
studentNumsToNames = {}

pumatsEntry = {}
pumatsEntry['name'] = 'Pumat Sol'
pumatsEntry['age'] = 256
pumatsEntry['program'] = 'business'
studentNumsToNames [123433] = pumatsEntry

studentNumsToNames [223453] = {'name':'Brian McMillan', 'age':52, 'program':'computing science'}
studentNumsToNames [339593] = {'name':'The Chairman', 'age':14, 'program':'philosophy'}
studentNumsToNames [532902] = {'name':'Teemu Selanne', 'age':49, 'program':'sport science'}
studentNumsToNames [124111] = {'name':'Angus McDonald', 'age':17, 'program':'arcane science'}
studentNumsToNames [999494] = {'name':'Frances Su', 'age':46, 'program':'mathematics'}
studentNumsToNames [902223] = {'name':'Merle Highchurch', 'age':210, 'program':'theology'}

# print(studentNumsToNames)

# print(studentNumsToNames[123433])
print(studentNumsToNames[123433]['name'])
# print(studentNumsToNames[123433]['program'])

Pumat Sol

Say we want to loop over all our entries in our student dictionary and print out the names:

In [29]:
def print_all_names(my_dict):
    for key in my_dict:
        print(my_dict[key]['name'])
    
    
print_all_names(studentNumsToNames)

Pumat Sol
Brian McMillan
The Chairman
Teemu Selanne
Angus McDonald
Frances Su
Merle Highchurch